# Exercise 4.6: Combining and Exporting Data

### Tasks within the lesson

#### Merge new data file to df_ords data frame:

In [49]:
## Importing libraries

import pandas as pd
import numpy as np
import os

In [69]:
## Reading the data file:
path = r'/Users/balachandark/Desktop/Instacart Basket Analysis/02 Data'

df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [71]:
## Check the dimensions of the imported dataframe
df_ords.shape

(3421083, 8)

In [65]:
df_ords_prior.shape

(32434489, 4)

In [52]:
## There are 32434489 rows and 4 columns

In [76]:
## Merging orders checked data frame with the the df_ords_prior data frame

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [77]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,evaluation_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329.0,1.0,prior,1.0,2,8,NaN,196,1,0,both
1,0,2539329.0,1.0,prior,1.0,2,8,NaN,14084,2,0,both
2,0,2539329.0,1.0,prior,1.0,2,8,NaN,12427,3,0,both
3,0,2539329.0,1.0,prior,1.0,2,8,NaN,26088,4,0,both
4,0,2539329.0,1.0,prior,1.0,2,8,NaN,26405,5,0,both

In [93]:
## Checking the merge column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [84]:
## Exporting the merged data frame:

# Method 1: Export data to csv

df_merged_large.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'))

# Method 2: Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

<center><b> End of report </b></center>